.lastDate {
  width: 100%;
  height: auto;
  display: flex;
}

.box {
  border: 1px solid rgb(121, 121, 199);
  border-radius: 5px;
  height: auto;
  background-color: rgb(121, 121, 199);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 11px;
  width: 165px;
  /* margin-left: 10px; */
}
